body {
    background-color: black;
    font-family: monospace;
    font-size: 135%
}

h1 {
    color: rgb(127, 141, 163);
    text-align: center;
    background-color: black;
}

h2 {
    color: rgb(127, 141, 163);
    text-align: center;
    background-color: black;
}

h3 {
    color: rgb(127, 141, 163);
    text-align: center;
    background-color: black;
}

p {
    color: rgb(195, 206, 224);
    text-align: center;
    background-color: black;
    padding-left: 100px;
    padding-right: 100px;
}

a {
    color: rgb(195, 206, 224)
}

a:hover {
    color: aqua
}

#nav {
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        background-color: black;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    a:hover {
        color: rgb(161, 168, 179);
        text-decoration: underline;

    }

    a {
        color: rgb(127, 141, 163);
        text-decoration: none;

    }
}

.angrytext {
    text-decoration: underline;
}

#list {
    max-width: 700;
    margin-inline: auto
}

#list p {
    text-align: left;
}
